<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    
</head>

<body>

        <!--navbar-->
        <%- include('../partials/navbar') %>
            <!--navbar-->

            <!--hero-->
            <div class="container">
                <div class="hero">
                    <div class="hero-left">
                        <h1 style="font-size: 78px; line-height: 1;">İş İlanlarını İncele</h1>
                        <p class="smoke-text" style="font-size: 18px; margin-top: 20px;">Aradığınız iş ilanlarını burada bulabilirsiniz.</p>
                        <div class="incele"><a href="/ilanlar" class="kesfet">Hemen İncele</a></div>

                    </div>
                    <div class="hero-right">
                        <img src="/img/calisan.png" alt="" style="margin-left: 100px;" class="hero-img">
                    </div>
                </div>
            </div>
            <!--hero-->

            <!--footer-->

            <%- include('../partials/footer') %>


                <!--footer-->


</body>

</html>